name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to Maven Central
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
          cache: sbt

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Import PGP Key
        run: |
          echo "${{ secrets.PGP_SECRET }}" | base64 --decode | gpg --batch --import
          gpg --list-secret-keys --keyid-format=long

      - name: Publish to Maven Central
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        run: |
          sbt 'set ThisBuild / publishConfiguration := publishConfiguration.value.withOverwrite(true)' \
              +publishSigned \
              sonatypeCentralRelease
